@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.display-paragraph {
  white-space: pre-line;
  margin-top: 0px;
}

.loader-spinner{
  width: 30px;
  height: 30px;
  border-left: solid 3px #fcfcfc;
  border-right: solid 3px #3b82f6;
  border-top: solid 3px #fcfcfc;
  border-bottom: solid 3px #3b82f6;
}

.reference{
  margin-top: 20px;
}

.App{
  max-width: 600px;
}

.nav-header{
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 600px;
  z-index: 2;
  background-color: #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-div{
  border-bottom:1px solid #fafafa;
 
}
.message-list{
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
    }
    
    @keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}