@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.markdown {
  /* Set table styles */
  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dee2e6;
  }

  /* Table head */
  th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: bold; /* Make header cells bold */
    background-color: #efefef;
  }

  /* Table cells */
  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6; /* Add vertical border */
    border-left: 1px solid #dee2e6; /* Add vertical border */
  }

  .link{
    color: #3b82f6;
    text-decoration: underline;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    margin-top: 10px;
  }

  h1{
    font-size: 20px;
  }

  h2{
    font-size: 18px;
  }

  h3{
    font-size: 16px;
  }

  h4{
    font-size: 14px;
  }

  h5{
    font-size: 13px;
  }

  h6{
    font-size: 15px;
  }

}
